.thumbnail-img {
  width: 100%;
  max-width: 720px;
  transition: all 0.4s;
  object-fit: cover;
  border-radius: 25px;
  animation: animateThumbnails 0.6s;
  cursor: pointer;

  :hover {
    opacity: 0.8;
  }

  @keyframes animateThumbnails {
    from {
      opacity: 0;
    } to {
      opacity: 1;
          }
    }
}